@page "/albums/{albumId:guid}/edit"
@using Galerie.Application.Albums.Commands
@using MediatR

@inject ISender Sender
@inject NavigationManager NavigationManager

<FlowHeading>Edit album</FlowHeading>

<form @onsubmit="Delete" @formname="Delete" method="post">
    <FlowButton Color="FlowButton.ButtonColor.Red">Delete</FlowButton>
    <AntiforgeryToken/>
</form>

@code {
    [Parameter] public Guid AlbumId { get; set; }

    private async Task Delete()
    {
        await Sender.Send(new DeleteAlbumCommand(AlbumId));
        NavigationManager.NavigateTo("/albums");
    }

}